.title {
  padding-top: 61px;
  font-size: 18px;
  text-transform: capitalize;
}

.title-2-who {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.heading {
  font-size: 32px;
  font-family: "raleway";
  margin-top: -4px;
}

.logo-who {
  width: 129px;
}

.l1-mele {
  margin-top: -27px;
  margin-bottom: -15px;
}

.l2-com {
  margin-top: -21px;
}
