<div class="header-low">
  <%= link_to "QUI ?", about_us_path, class: "title hvr-bounce-in" %>
  <div class="title hvr-bounce-in"> LE RÉSEAU</div>
  <div class="title hvr-bounce-in"> LES TIERS LIEUX</div>
  <div class="title hvr-bounce-in"> TISSÉO</div>
  <div class="title hvr-bounce-in"> PRIX</div>
</div>
