<div class="header-top">
  <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
  <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
  <div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
  <div><%= link_to "Devenir membre", new_working_place_path, class: "button-header" %></div>
</div>
