<div class="container">
  <div class="text-center">
    <h1> Nous avons bien reçu votre tiers-lieux </h1>
    <%= link_to "Voir l'ensemble des tiers lieux", working_places_path , class: "btn btn-default" %>
  </div>
</div>
