<div class="container">
  <div class="text-center">
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

    <h1> I'm a Dashboard </h1>

    <% @working_places.each do |place| %>
      <%= link_to "Valid ?", working_place_path(place, :statut => true), :method => :put %>
        <div class="on-off">
          <div class="toggleWrapper">
            <input type="checkbox" id="dn" class="dn"/>
            <label for="dn" class="toggle"><span class="toggle__handler"></span></label>
          </div>
        </div>
      <%= place.name %>

    <% end %>
  </div>
</div>



