<!--
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.0) 0%, rgba(0,36,61,0.4) 50%), url('http://pomomusings.com/wp-content/uploads/2015/08/Featured-Co-working.jpg');">
<%= render 'shared/header' %>
<%= render 'shared/header_low' %>
  <div class="banner-content">
    <div>
      <h1>Réseau des Tiers Lieux d'Occitanie</h1>
      <p>Télétravailleurs, trouvez votre nouvel espace de travail</p>
      <%= link_to "Découvrir les Tiers Lieux", working_places_path, class: "button-home" %>
    </div>
  </div>
</div> -->

<div class="banner">
<%= render 'shared/header_low' %>
  <div class="container">
    <div class="text-center">
      <div class="banner-content">
        <h1>Réseau des Tiers Lieux d'Occitanie</h1>
        <p>Télétravailleurs, trouvez votre nouvel espace de travail !</p>
        <a class="button-home" href="/working_places">Découvrir les Tiers Lieux</a>
      </div>
    </div>
  </div>
</div>
<section class="section-press">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="section-content">
                    <div class="section-press-logos text-center">
                        <div class="col-md-3 text-center">
                            <a href="http://objectifnews.latribune.fr/innovation/french-tech/2016-11-04/coworking-tous-les-tiers-lieux-d-occitanie-sur-un-site-web.html#xtor=EREC-32280597-%5Bnewsletter_objectifnews%5D-20161104-%5B%5D-0@114-20161104191500" target="_blank">
                                <img class="logo-1" src="http://pbs.twimg.com/media/Cn0JhCsWgAAy0Or.png" alt="Coworking : tous les tiers lieux d'Occitanie sur un site web">
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="http://www.occitanie-tribune.com/articles/368/occitanie-la-re%CC%81gion-aux-100-tiers-lieux/" target="_blank">
                                <img class="logo-2" src="http://www.occitanie-tribune.com/rep/rep_site/logo_header.png" alt="OCCITANIE - LA RÉGION AUX 100 TIERS LIEUX">
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="http://www.lalettrem.fr/actualites/loccitanie-compte-100-tiers-lieux" target="_blank">
                                <img class="logo-3" src="http://www.lalettrem.fr/sites/default/files/logo-M.jpg" alt="L’Occitanie compte 100 tiers-lieux">
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="http://www.lejournaldesentreprises.com/regionale/Midi-Pyrenees/occitanie-2eme-region-francaise-en-nombre-de-tiers-lieux-27-10-2016-306194.php?xtor=EPR-7-%5bNewsletterQuotidienne%5d-20161028-%5bOccitanie.%C2%A02%C3%A8me%20r%C3%A9gion%20fran%C3%A7aise%C2%A0en%20nombre%20de%C2%A0Tiers-Lieux%C2%A0%5d&utm_source=newsletter-quotidienne&utm_medium=email&utm_campaign=20161028&utm_content=%5bOccitanie.%C2%A02%C3%A8me%20r%C3%A9gion%20fran%C3%A7aise%C2%A0en%20nombre%20de%C2%A0Tiers-Lieux%C2%A0%5d" target="_blank">
                                <img class="logo-4" src="http://ambition-toulouse.club/wp-content/uploads/2015/05/image-250x248.gif" alt="Occitanie. 2ème région française en nombre de Tiers-Lieux ">
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="http://www.ladepeche.fr/article/2016/11/09/2455445-l-occitanie-championne-des-nouveaux-espaces-de-travail.html" target="_blank">
                                <img class="logo-5" src="http://www.ladepeche.fr/images/header/logo_ddm.png" alt="L'Occitanie championne des nouveaux espaces de travail">
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="#" target="_blank">
                                <img class="logo-6" src="http://www.expensya.com/Images/france24-logo.png" alt="Expenses iPhone">
                            </a>
                        </div>
                    </div>
                </div><!-- /.section-content -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>




