.owl-item {
  width: 250px;
  .name {
    text-align: center;
    font-weight: bold;
    color: #07AAA5;
  }
  div {
    text-decoration: none;
  }
}

.img-owl {
  width: 200px;
  height: 132px;
  object-fit: cover;
  margin: 5px;
}
