

.card {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #999;
  overflow: hidden;
  z-index: 10;
  margin-top: 22px;
}
.image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  min-height: 270px;
  transition: all .5s ease-in-out;
  &:hover {
    transform: rotate(-3deg) scale(1.1);
    -webkit-transform: rotate(-3deg) scale(1.1);
  }

}

.price {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  color: #eee;
  padding: 20px;
  background-color: #333;
  background-color: rgba(76, 166, 255, .9);
  font-size: 24px;
  z-index: 10;
  span {
    font-size: 0.6em;
  }
}

.description {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  color: #eee;
  padding: 10px 20px 0px 20px;
  background-color: #333;
  background-color: rgba(0, 0, 0, .7);
  h4 {
    margin-top: 10px;
  }
  ul {padding: 0;}
  li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
  }
  p {
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
  }
  .glyphicon {
    font-size: 20px;
    text-align: center;
}
}
