.feature {
  padding-top: 25px;
}

.icone {
  font-size: 50px;
}

.color1 {
  color: #96C05F;
  padding-bottom: 12px;
}

.color2 {
  color: #07AAA5;
  padding-bottom: 12px;
}

h4 {
  font-family: "raleway";
  font-size: 19px;

}

p {
  font-size: 14px;
  color: #222222;
}

.first-col {
  &:hover {
    color: #96C05F;
    & .fa {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}

.second-col {
  &:hover {
    color: #07AAA5;
    & .fa {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}
