.colmargin {
  width: 30%;
  margin-right: 3%;
}

.coltwo {
  margin-left: 3%px;
}

.feature {
  padding-top: 25px;
}

.icone {
  font-size: 50px;
}

.color1 {
  color: #96C05F;
  padding-bottom: 12px;
}

.color2 {
  color: #07AAA5;
  padding-bottom: 12px;
}

h4 {
  margin-top: 20px;
  font-size: 22px;

}

p {
  font-size: 14px;
  color: #222222;
}

.first-col {
  .co-animateur {
      margin-left: 28px;
    }
  &:hover {
    color: #96C05F;
    & .fa {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
    .bigger-text {
      font-weight: bold;
    }
  }
  p {
    font-size: 15px;
    color: #7c8592;
    font-weight: normal;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
  }
}

.second-col {
  &:hover {
    color: #07AAA5;
    & .fa-sitemap {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
    .bigger-text {
      font-weight: bold;
    }
  }
  p {
    font-size: 15px;
    color: #7c8592;
    font-weight: normal;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
  }
  .mission-bullet {
    margin-left: 18px;
  }
}

.third-col {
  .co-animateur {
      margin-left: 28px;
    }
  &:hover {
    color: #96C05F;
    & .fa-calendar-check-o {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
    .bigger-text {
      font-weight: bold;
    }
  }
  p {
    font-size: 15px;
    color: #7c8592;
    font-weight: normal;
    line-height: 25px;
    text-align: center;
  }
  .agenda-date {
    font-weight: bold;
  }
  .agenda-title {
    font-size: 17px;
  }
}
