@font-face {
  font-family: 'Sailec Medium';
  font-style: normal;
  font-weight: 400;
  src: url("Medium.woff") format("woff"), local("Sailec Medium"), local("SailecMedium"); }
@font-face {
  font-family: 'Sailec Light';
  font-style: normal;
  font-weight: 400;
  src: url("Light.woff") format("woff"), local("Sailec Light"), local("SailecLight"); }
@font-face {
  font-family: 'Sailec Regular';
  font-style: normal;
  font-weight: 400;
  src: url("Regular.woff") format("woff"), local("Sailec Regular"), local("SailecRegular"); }
