

.nav-noir {
  color: black;
}

.header-top {
  line-height: 33px;
  height: 33px;
  padding-top: 2px;
  margin-right: 22px;
  display: flex;
  justify-content: flex-end;
  & .fa {
    margin-right: 22px;
    font-size: 14px;
    color: white;
    background: transparent;
    &:hover {
      color: #82b440;
    }
  }
}

.nav-fixed {
  position: fixed;
}
.header-low {
  font-size: 16px;
  padding-top: 17px;
  padding-right: 17px;
  color: white;
  .menu {
    display: flex;
    justify-content: flex-end;
    .title {
      border-bottom: 2px solid transparent;
      color: #fff !important;
      display: inline-block;
      margin: 0 0 0 40px;
      padding: 9px 0;
      text-decoration: none !important;
      transition: border-bottom 0.3s;
      &:hover {
        border-bottom: 2px solid #34c195;
        color: #fff !important;
        text-decoration: none !important;
      }
    }
    .button-header-low {
      background-color: #34c195;
      border: none;
      border-radius: 0;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      overflow: hidden;
      padding: 16px 20px 14px;
      text-decoration: none;
      transition: all 0.3s;
      transform: translateY(0);
      margin-left: 25px;
      &:hover {
        background-color: #4acea5;
      }
    }
  }
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}




