.head_show {
  margin-top: 22px;
  display: flex;
  justify-content: flex-start;
  padding-top: .9375rem;
  padding-bottom: 17px;
  & .all_link {
    margin-right: 12px;
    & .return {
      color: black;
      text-decoration: none;
    }
  }
  & .fa {
    color: #82b440;
    margin-right: 12px;
  }
  & .city {
    border-bottom: .125rem solid #82b440;
  }
}

.card_work {
  position: absolute;
  top: 220px;
  padding: 2.5rem;
  width: 35%;
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: rgba(119,119,119,0.1);
  .brand_name {
    font-size: 1.5625rem;
    line-height: 0.5;
    letter-spacing: 2px;
    font-family: Knockout\ 48 A,Knockout\ 48 B,Impact,Apercu,Calibri,Roboto,Helvetica,sans-serif;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: -1px;
  }
  .work_title {
    margin-top: 2px;
  }
  .adress {
    display: flex;
    justify-content: flex-start;
    div {
      margin-right: 8px;
    }
  }
  hr {
    height: 3px;
    background: #82b440;
    margin: .75rem auto;
  }
}

.work-content {
  .introduction {
    padding-top: 45px;
  }
  .section-title {
    margin-top: 22px;
  }
  .h3Underlined {
    border-bottom: .125rem solid black;
    margin-bottom: .75rem;
    padding-bottom: .75rem;
  }
  .about-office {
    margin-top: 28px;
    .picture {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
    .manager {
      .name {
        line-height: 1.12;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }
  .habilities {
    margin-top: 25px;
    display: flex;
    padding-bottom: 25px;
    border-bottom: .125rem solid rgba(119,119,119,0.4);
    display: flex;
    align-items: flex-start;
    .item-work {
      width: 25%;
      font-weight: bold;
      margin-right: 20px;
    }
    .text-work {
      width: 75%;
    }
    &:last-child {
     background-color: red;
    }
  }
  .gallery{
    padding-bottom: 45px;
    .gallery-work {
      width: 100%;
    }
  }
}

.options-works {
  margin-top: 60px;
  padding-top: 30px;
  background-color: #ececec;
  }
